{% extends "base.html" %}

{% block title %}
Locker Home
{% endblock title %}

{% block pagetitle %}
Locker Home
{% endblock pagetitle %}

{% block content %}


{% if user.is_authenticated and most_used %}

<div class="card border-primary mb-3">
    <div class="card-header">
        Most used
    </div>
    <div class="card-body">
        <h4 class="card-title">
            {{ most_used.name }}
        </h4>
        <p class="card-text">{{ most_used.address }}</p><button type="button" class="btn btn-primary btn-copy">Copy
            Address</button>
        <a href="{% url 'parcel-register' %}?locker={{ most_used.id }}" class="btn btn-secondary">Register
            Parcel</a>
    </div>

</div>
{% endif %}
<br>
<form class="d-flex" action="{% url 'locker-view' %}" method="POST">
    {% csrf_token %}
    <input class="form-control me-sm-2" type="text" name="keyword" placeholder="Search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form>
<br>
{% for locker in results %}

<div class="card border-primary mb-3">
    <div class="card-header">
        Result
    </div>
    <div class="card-body">
        <h4 class="card-title">
            {{ locker.name }}
        </h4>
        <p class="card-text">{{ locker.address }}</p>
        <button type="button" class="btn btn-primary btn-copy">Copy
            Address</button><a href="{% url 'parcel-register' %}?locker={{ locker.id }}"
            class="btn btn-secondary">Register
            Parcel</a>
    </div>

</div>

{% endfor %}

<script>

    $(".btn-copy").click(function () {
        value = $(this).siblings("p").html();
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val(value).select();
        document.execCommand("copy");
        $temp.remove();
    })
</script>

{% endblock content %}