{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}

{% if user.is_authenticated %}
<section>
<h1>Your Parcels</h1>
{% if parcel_list %}
{% for parcel in parcel_list %}
<div class="max-w-md px-8 py-4 mx-auto bg-white rounded-lg shadow-lg dark:bg-gray-800">

        <h2 class="mt-2 text-2xl font-semibold text-gray-800 dark:text-white md:mt-0 md:text-3xl">{{parcel.tracking_number}}</h2>

        <p class="mt-2 text-gray-600 dark:text-gray-200">Destination: {{parcel.destination_locker.name}}</p>
        
        <div class="flex justify-end mt-4">
            <a href="{% url 'parcel-detail' parcel_id=parcel.id %}" class="text-xl font-medium text-indigo-500 dark:text-indigo-300">View Details</a>
        </div>
    </div>
<section>
{% endfor %}
{% else %}

    <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
        <div class="card-body">
            <h4 class="card-title">You don't have any parcels!</h4>
            <p class="card-text">You can add them from the <a href="{% url 'parcel-register' %}">Register Parcel</a> page.</p>
        </div>
    </div>
{% endif %}

{% else %}
{% endif %}

{% for locker in locker_list %}
<div class="max-w-md px-8 py-4 mx-auto bg-white rounded-lg shadow-lg dark:bg-gray-800">

        <h2 class="mt-2 text-2xl font-semibold text-gray-800 dark:text-white md:mt-0 md:text-3xl">{{locker.name}}</h2>

        <p class="mt-2 text-gray-600 dark:text-gray-200">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolores deserunt ea doloremque natus error, rerum quas odio quaerat nam ex commodi hic, suscipit in a veritatis pariatur minus consequuntur!</p>
        
        <div class="flex justify-end mt-4">
            <a href="#" class="text-xl font-medium text-indigo-500 dark:text-indigo-300">John Doe</a>
        </div>
    </div>
{% endfor %}

{% endblock content %}

    