{% extends 'base.html' %}


{% block title %}
Home
{% endblock title %}

{% block pagetitle %}

{% if user.is_authenticated %}
Welcome back, {{ user.username }}
{% else %}
You are not logged in. <a href="{% url 'login' %}">Log in</a> or sign up to continue.

{% endif %}

{% endblock pagetitle %}


{% block content %}

<div class="d-grid gap-2">
    <a class="btn btn-lg btn-primary" href="{% url 'parcel' %}" type="button">My parcels</a>
    <a class="btn btn-lg btn-primary" href="{% url 'parcel-register' %}" type="button">Register new parcel</a>
    <a class="btn btn-lg btn-primary" href="{% url 'locker-view' %}" type="button">View Lockers</a>
</div>


{% endblock content %}