{% extends 'base.html' %}

{% load static %}


{% block title %}
User Login
{% endblock title %}


{% block content %}

{% if form.errors %}

<div class="alert alert-dismissible alert-danger">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Invalid credentials!</strong>
</div>


{% endif %}

<div class="row justify-content-center" style="background-color:rgb(242, 242, 238);">
    <div class="col-md-7 col-lg-5">
        <div class="wrap">
            <div class="login-wrap p-4 p-md-5">
                <div class="d-flex">
                    <div class="w-100">
                        <h3 class="mb-4">Log In</h3>
                    </div>
                    <div class="w-100">
                    </div>
                </div>
                <form action="POST" class="signin-form" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
                        <input type="text" class="form-control" id="inputUsername" aria-describedby="emailHelp"
                            placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <br>
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-primary rounded submit px-3">Log In</button>
                    </div>
                    <div class="form-group d-md-flex">

                        <div class="w-50 text-md-right">
                            <a href="#">Forgot Password</a>
                        </div>
                    </div>
                </form>
                <p class="text-center">Not a member? <a data-toggle="tab" href="#signup">Sign Up</a></p>
            </div>
        </div>
    </div>
</div>



{% endblock content %}