{% extends 'base.html' %}

{% load static %}


{% block title %}
User Login
{% endblock title %}


{% block pagetitle %}
Log In
{% endblock pagetitle %}
{% block content %}

{% if form.errors %}

<div class="alert alert-dismissible alert-danger px-5">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>The following few items need to be reviewed:</strong>

    {% for field in form %}

    {% for error in field.errors %}
    <li>{{ error|escape }}</li>

    {% endfor %}

    {% endfor %}

</div>

{% endif %}

<div class="wrap">
    <div class="w-100 col-12">



        <form method="POST" class="signin-form" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="inputUsername" aria-describedby="username"
                        name="username" placeholder="Enter username" value="{{username}}" required="">
                    <label for="inputUsername">Username</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="inputPassword" name="password"
                        placeholder="Password" value="{{password}}" required="">
                    <label for="inputPassword">Password</label>
                </div>
            </div>

            <br>
            <div class="form-group">
                <input type="submit" class="form-control btn btn-primary rounded submit px-3" value="Log In">
            </div>
            <div class="form-group d-md-flex">
                <div class="w-50 text-md-right">
                    <a href="#">Forgot Password</a>
                </div>
            </div>
        </form>
        <p class="text-center">Not a member? <a data-toggle="tab" href="{% url 'register' %}">Sign Up</a></p>
    </div>

</div>
</div>



{% endblock content %}