{% extends "base.html" %}



{% block title %}
Register Parcel
{% endblock title %}


{% block pagetitle %}
Register Parcel
{% endblock pagetitle %}


{% block content %}

{% if form.errors %}

<div class="alert alert-dismissible alert-danger px-5">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>The following few items need to be reviewed:</strong>

    {% for field in form %}

    {% for error in field.errors %}
    <li>{{ error|escape }}</li>

    {% endfor %}

    {% endfor %}

</div>

{% endif %}

<div class="row justify-content-center" style="background-color:rgb(242, 242, 238);">
    <div class="col-md-7 col-lg-5">
        <div class="wrap">
            <form method="post" action="{% url 'parcel-register' %}">
                {% csrf_token %}
                {{form}}
                <input type="submit" class="form-control btn btn-primary rounded submit px-3" value="Register">
            </form>
        </div>
    </div>
</div>
{% endblock content %}